NUXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NUXT_PUBLIC_GOOGLE_CLIENT_ID=
NUXT_PUBLIC_APP_ENV=development
NUXT_PUBLIC_PASSWORD_MIDDLEWARE=
NUXT_PUBLIC_COMING_SOON=false
NUXT_PUBLIC_COMING_SOON_BYPASS_CODE=
NUXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAADreXCM3U-LKGq0q
NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_ADMIN_URL=http://localhost:8090/admin
NUXT_PUBLIC_STUDIO_ASSISTANT_ENABLED=false
